<div class="container-fluid">
  <a class="navbar-brand" href="<%= root_url %>">SAME</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
    aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show" id="navbarDark">
    
    <%= render "shared/menu" %>

  </div>
</div>