<div class="btn-group dropup">
  <% if user_signed_in? %>
    <button type="button" class="btn dropdown-toggle ms-3" style="background-color: #efefef;" data-bs-toggle="dropdown" aria-expanded="false">
      <span style="color:black"><%= current_user.email %></span>
    </button>
    <ul class="dropdown-menu ms-3">
      <li><%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %></li>
      <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item",  method: :delete  %></li>
    </ul>
    <% else %>
      <%= link_to "Log in", new_user_session_url, class: 'btn btn-secondary ms-3' %>
    <% end %>
</div>